h2 {
    color: red;
    font-size: 72px;
    text-align: center;
      
}
table {
    border: solid;
}

header {

    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

footer {
    font-size: 24px;
    text-align: center;
    color: brown;
    font-weight: 600;
    
}